
main{
    display: flex;
    justify-content: center;
}
.row{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.map {
    height: 400px;
    width: 600px;
}
#mergedMap{
    width: 1830px;
}
